@import url('https://fonts.googleapis.com/css?family=Roboto+Serif');

* {
    font-family: 'Roboto Serif', serif;
}

body {
  height: 100%;
  width: 23rem;
  padding: 1rem;
}

div#chartDiv {
  height: 500px;
}

div.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:#5680eeff;
  white-space: nowrap;
  overflow:hidden;
  height: 3rem;
  margin-bottom: 0px;
  width:25rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left:-15px;
  margin-right:-15px;
  position:absolute;
  bottom:0;
}

.nav-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:0;
  height:3rem;
  flex:25%;
  margin-top:.5rem;
}

/* div.time {
  margin: 0px 10px 10px 10px;
} */

div.card {
  border: rgb(203, 203, 203) 1px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

div.card a {
  color: blue;
  text-decoration: underline;
}

hr {
  /* background-color: blue; */
  border: 0.5px solid rgb(203, 203, 203);
  margin-bottom: 15px;
}
/* div.scrollmenu a:hover {
  font-size: 17px;
} */

/* ul.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
} */

li a {
  display: block;
  color: #000;
  padding-bottom: 8px;
  text-decoration: none;
}

div.card-header { 
  font-size: 18px;
  text-decoration: none;
  color: #5680eeff;
  margin-left: 5px;
  margin-top: 5px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  width: 19rem;
  padding-left: 5px;
}

.heading {
  font-family: 'Roboto Serif', serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 2px;
}
.subheading {
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 10px;
}

.regtext {
  font-family: 'Roboto Serif', serif;
  font-size: 15px;
  line-height: 0px;
}

.smalltext {
  font-family: 'Roboto Serif', serif;
  font-size: 13px;
  line-height: 25px;
}

.center {
  text-align: center;
}

table{
  margin-left: 5%;
  border: 1px solid black;
  border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
  table-layout: auto;
  margin-right: 5%;
  width: 350px;
}
th, td {

  border: 1px solid black;
  padding: 6px;
}
.cell-highlight {
  background-color: gold;
  font-weight: bold;
}

input[type="submit"] {
  background-color: #5680eeff;
  color: white;
  width: 12rem;
  height: 4rem;
  font-family: 'Roboto Serif', serif;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 5px;
}

#MainButtonPlanSelector {
  background-color: #5680eeff;
  color: white;
  width: 12rem;
  height: 4rem;
  font-family: 'Roboto Serif', serif;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 5px;
}
#MaxCalcButton {
  background-color: #5680eeff;
  color: white;
  width: 12rem;
  height: 2rem;
  font-family: 'Roboto Serif', serif;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 5px;
}

p.cals {
  margin-left: 5px;
  font-size: 20px;
}

#progress {
  width: 100%;
  width: 19rem;
  border-radius: 5px;
  background-color: none;
  border:rgb(203, 203, 203) 1px solid;
  margin-left: 5px;
  margin-bottom: 10px;
} 

#myBar {
  height: 25px;
  /* width: 19rem; */
  border-radius: 5px;
  background-color: #8BA9F4;
}

input[type="submit"]:hover {
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  cursor: pointer;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F8F8;
  padding:15px;
  padding-bottom:0;
  border-radius: 10px;
  height:39rem;
  width:23rem;
}

.overflow-y {
  overflow-y:auto;
  overflow-x:hidden;
}


/* Color Codes */
.light-blue {
  background-color: #8BA9F4;
}
.dark-blue {
  background-color: #5680EE;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/MaterialIcons-Regular.woff2) format('woff2'),
       url(font/MaterialIcons-Regular.woff) format('woff'),
       url(font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;  /* Preferred icon size */
 display: inline-block;
 line-height: 1;
 text-transform: none;
 letter-spacing: normal;
 word-wrap: normal;
 white-space: nowrap;
 direction: ltr;

 /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased;
 /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility;

 /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale;

 /* Support for IE. */
 font-feature-settings: 'liga';
}

