@import url('https://fonts.googleapis.com/css?family=Roboto+Serif');

* {
    font-family: 'Roboto Serif', serif;
}

body {
  height: 100%;
  width: 13rem;
  margin: 2rem;
}

.heading {
  font-family: 'Roboto Serif', serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 2px;
}
.subheading {
  font-family: 'Roboto Serif', serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 10px;
}

.regtext {
  font-family: 'Roboto Serif', serif;
  font-size: 12px;
  line-height: 20px;
}

.smalltext {
  font-family: 'Roboto Serif', serif;
  font-size: 10px;
  line-height: 25px;
}

.center {
  text-align: center;
}

input[type="submit"] {
  background-color: #5680eeff;
  color: white;
  width: 12rem;
  height: 4rem;
  font-family: 'Roboto Serif', serif;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 5px;
}

input[type="submit"]:hover {
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  cursor: pointer;
}


/* Color Codes */
.light-blue {
  background-color: #8BA9F4;
}
.dark-blue {
  background-color: #5680EE;
}

